body {
    background-color: rgb(15, 5, 5);
    font-family: cursive;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: flex-end; */
    /* flex-wrap: wrap-reverse;
    justify-content: space-around; */
}

.box1 {
    background-color: rgb(199, 34, 122);
    text-align: center;
    color: black;
    font-family: cursive;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    flex-grow: 1;
    border-radius: 5px;
    border: 1px solid white;
    /* flex-basis: 400px; */
    /* align-self: flex-start; */
}

.box2 {
    background-color: rgb(199, 34, 122);
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    /* align-self: center; */
}

.box3 {
    background-color: deeppink;
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white
}

.box4 {
    background-color: deeppink;
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    flex-grow: 1;
}

.box5 {
    background-color: rgb(15, 5, 5);
    text-align: center;
    color: black;
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    /* border: 1px solid white; */
}

.linebreak {
    background-color: darkgray;
    height: 2px;
    flex-basis: 100%;
}